
  .size{
    width: 280px;
    height: 890px;

    position: fixed;
    background-color: yellowgreen;

  }




.xxx{
  position: relative;
  left:140px;

}

.routine_name{
  font-size: 50px;
  font-weight: 600;
}

.zz{
  z-index: 9999;
}

#nodivision_routine h1,#twodivision_routine h1,#threedivision_routine h1,#fourdivision_routine h1,
 #m15_routine h1,  #m30_routine h1,  #m60_routine h1,  #m90_routine h1{
  font-size: 50px;
}
