.screen-header{
    position: fixed;
    top:0;
    left:0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    z-index: 99999;

  
}
.bg-lights {
    /* --bs-bg-opacity: 1; */
    background-color: rgba(var(--bs-light-rgb));
    color:black;
}

.navbars {

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.signin-up{
    display: flex;
    margin-right: 50px;
}
.more-functions{
    display: flex;
    justify-content: center;
}


.title{
    padding: 5px;
    margin-left: 17px;
}

.change-level{
    display: flex;
    margin-right: 500px;


  
}
.change-level a{
    font-size: 18px;
    margin: 0px 14px;
    color: black;
    
}

a{
    font-size: 20px;
}

body{
    padding-top: 75px;
}