.workout-eachpart{
    padding: 55px;
}


.workout-title{
    position: relative;
    left: -10px;
    margin-bottom: 25px;


    

}
.workout-title h3{
    font-weight: 600;
    font-size: 20px;

    

}

.workout-video{
    display: flex;
    justify-content: center;
}
.workout-video img{
    margin: 0px 40px;
    width:700px;
    height: 340px;
    object-fit: cover;
  
  


}

.workout-methods {
    margin-top:30px;
    margin-bottom: 120px;
    background-color: rgba(0,0,0,0.05);
    margin-left:275px;
    margin-right:325px;

 

}
.workout-methods div{
    display: flex;
    align-items: center;
    justify-content:left;
 

}
.workout-methods button{
    border-radius: 40%;
    margin-top: 10px;
    margin-right: 10px;
}
.workout-methods p{
    margin-top: 20px;
}

.muscle-area{
    margin-top: -20px;
}
.muscle-area h2{
    font-weight: 600;
    color: #204099;
}

.steps-list {
    counter-reset: mw-counter;
    list-style: none;
 
    padding: 0;
}
.steps-list li::before {
    background: green;
    border-radius: 40px;
    box-shadow: 0 0 3px rgb(0 0 0 / 40%), 0 0 0 5px #f5f8fa, 5px 0 2px rgb(0 0 0 / 60%);
    color: #fff;
    content: counter(mw-counter);
    font-weight: 700;
    height: 40px;
    line-height: 40px;
    left: -1.2em;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
}
.steps-list li {
  
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    counter-increment: mw-counter;
    font-size: 15px;
    margin: 0 0 1.5rem 1em;
    padding: 10px 15px 10px 35px;
    position: relative;
}

.first-workout{
    margin-bottom: 60px;
}


h3 .mw-headline {
    color: green;
    display: block;
    font-size: 2.5rem;
    letter-spacing: 2px;
    margin-bottom: 1.5rem;
    padding: 10px 0;
}
