<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>부위별 운동-복근</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body >
<nav class="navbars navbar-light bg-light screen-header">
    <div class="title">
        <a class="navbar-brand" >
            <img src="/picture/capstone2img.png" width=120px/>
        </a>
    </div>

    <div class="more-functions">
        <a class="signin navbar-brand" href="/board/list">
            <span>커뮤니티</span>
        </a>
        <a class="signup navbar-brand" href="routine-time">
            <span>루틴</span>
        </a>
        <a class="community navbar-brand" href="rank-whole">
            <span>랭킹</span>
        </a>
        <a class="community navbar-brand" href="record">
            <span>기록</span>
        </a>
    </div>

    <div class="change-level">
        <a href="beginner-main" class="navbar-brand">
            초보자👶
        </a>
        <a  href="master-main" class="navbar-brand">
            숙련자🤴
        </a>

    </div>

<!--    <div class="signin-up">-->
<!--        <a class="signin navbar-brand" href="/member/signin">-->
<!--            <span>로그인</span>-->
<!--        </a>-->
<!--        <a class="signup navbar-brand" href="/member/signup">-->
<!--            <span>회원가입</span>-->
<!--        </a>-->

<!--    </div>-->
    <div class="signin-up">


        <a class="signup navbar-brand" href="mypage">
            <span>마이페이지</span>
        </a>
        <h2 th:text="${session.loginNickname}"></h2>

    </div>
</nav>


<div class="first-row ">
    <div class="muscle-area">
        <h2>복근</h2>
    </div>
    <a href="abdominals_dumbell_beginner"><button type="button" class="button btn-outline-primary dumbell ">덤벨</button></a>
    <a href="abdominals_bodyweight_beginner"><button type="button" class="button btn-outline-primary  bodyweight  ">맨몸</button></a>
    <a href="abdominals_machine_beginner"><button type="button" class="button btn-outline-primary machine">머신</button></a>
    <a href="abdominals_barbell_beginner"><button type="button" class="button btn-outline-primary barbell ">바벨</button></a>

    <div class="health-more">
        <button class="button  btn-outline-primary dropdown-toggle active" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
            케틀벨
        </button>
        <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton2">
            <li><a class="dropdown-items band" href="abdominals_band_beginner">밴드</a></li>
            <li><a class="dropdown-items stretch" href="abdominals_stretch_beginner">스트레칭</a></li>
            <li><a class="dropdown-items cable" href="abdominals_cable_beginner">케이블</a></li>
            <li><a class="dropdown-items kettlebell " href="abdominals_kettlebell_beginner">케틀벨</a></li>
            <li><a class="dropdown-items close" href="#">닫기❌</a></li>
        </ul>
    </div>

</div>

</div>

<main class=" container workout-eachpart">
    <div class="first-workout">
        <div class="workout-title">
            <h3>
<!--            <span class="mw-headline" id="Barbell-Bench-Press">-->
                <span class="mw-headline">
                    싯업
            </span>
            </h3>
        </div>
        <div class="workout-video">
            <img src="https://www.musclewiki.com/media/uploads/kettlebell-male-situp-front.gif"/>
            <img src= "https://www.musclewiki.com/media/uploads/kettlebell-male-situp-side.gif"/>

        </div>


        <ol class="steps-list" style="margin: 4rem 0 1rem;">
            <li>
                다리를 곧게 펴고 등을 대고 누워서 케틀벨을 팔 길이만큼 가슴 위로 잡습니다.</li>
            <li> 배를 척추의 기저부로 당겨 근육을 연결한 다음, 케틀벨을 팔 길이만큼 가슴 위로 들어올려 머리와 어깨를 바닥에서 들어 올립니다.</li>
            <li>시작 위치로 돌아가 반복합니다.</li>

        </ol>

    </div>

    <div class="first-workout">
        <div class="workout-title">
            <h3>
<!--            <span class="mw-headline" id="Barbell-Bench-Press">-->
                <span class="mw-headline">
                    케틀벨 러시안 트위스트
            </span>
            </h3>
        </div>
        <div class="workout-video">
            <img src="https://www.musclewiki.com/media/uploads/kettlebell-male-russiantwist-front.gif"/>
            <img src= "https://www.musclewiki.com/media/uploads/kettlebell-male-russiantwist-side.gif"/>

        </div>


        <ol class="steps-list" style="margin: 4rem 0 1rem;">
            <li>
                다리를 구부리고 무릎을 모으고 발을 바닥에서 약간 들어 올린 상태로 바닥에 앉으십시오.</li>
            <li>  한쪽에서 시작하여 코어 근육을 결합한 상태로 똑바로 앉아 케틀벨을 양손으로 바닥에서 들어올려 몸 전체를 가로질러 반대쪽으로 가져오면서 가슴을 바닥 쪽으로 회전시킵니다.</li>
            <li>케틀벨을 바닥에 가볍게 두드리고 케틀벨을 몸 전체를 가로질러 시작 위치로 되돌리면서 가슴을 바닥으로 돌립니다.</li>
            <li>운동을 하는 동안 다리를 구부리고 발을 올린 상태를 유지하면서 반복합니다.</li>


        </ol>
    </div>


    <div class="first-workout">
        <div class="workout-title">
            <h3>
<!--            <span class="mw-headline" id="Barbell-Bench-Press">-->
                <span class="mw-headline">
                    케틀벨 우드초퍼
            </span>
            </h3>
        </div>
        <div class="workout-video">
            <img src="https://www.musclewiki.com/media/uploads/kettlebell-male-woodchopper-front.gif"/>
            <img src= "https://www.musclewiki.com/media/uploads/kettlebell-male-woodchopper-side.gif"/>

        </div>


        <ol class="steps-list" style="margin: 4rem 0 1rem;">
            <li>
                어깨 너비보다 약간 더 넓은 발로 서서 양손으로 엉덩이에 케틀벨을 잡고 있습니다.</li>
            <li>팔을 똑바로 유지하고 케틀벨을 위쪽으로 그리고 몸을 가로 질러 어깨쪽으로 스윙하여 케틀벨을 머리 높이로 높이고 엉덩이를 회전시킵니다.</li>
            <li>시작 위치로 돌아가서 반복하십시오.</li>

        </ol>

    </div>


    <div class="first-workout">
        <div class="workout-title">
            <h3>
<!--            <span class="mw-headline" id="Barbell-Bench-Press">-->
                <span class="mw-headline">
                  케틀벨 윈드밀
            </span>
            </h3>
        </div>
        <div class="workout-video">
            <img src="https://www.musclewiki.com/media/uploads/kettlebell-male-windmill-front.gif"/>
            <img src= "https://www.musclewiki.com/media/uploads/kettlebell-male-windmill-side.gif"/>

        </div>


        <ol class="steps-list" style="margin: 4rem 0 1rem;">
            <li>
                어깨너비보다 약간 넓게 발을 벌리고 선다. 한 손에 케틀벨을 잡고 팔을 머리 위로 뻗습니다.</li>
            <li>다리를 곧게 펴고 케틀벨을 머리 위로 올린 상태에서 이완된 팔을 바닥으로 내리고 몸을 올린 팔 옆으로 비틀어줍니다.</li>
            <li>시작 포션으로 돌아가서 골반을 앞으로 기울이고 반복합니다.</li>

        </ol>

        
    </div>

   

   

   



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>