<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>부위별 운동-가슴</title>-->
<!--    <link rel="stylesheet" href="/css/style.css"/>-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->

<!--</head>-->
<!--<body >-->
<!--<nav class="navbars navbar-light bg-light screen-header">-->
<!--    <div class="title">-->
<!--        <a class="navbar-brand" href="master-main">-->
<!--            <img src="picture/capstone2img.png" width=120px/>-->
<!--        </a>-->
<!--    </div>-->

<!--    <div class="more-functions">-->
<!--        <a class="signin navbar-brand" href="community-free">-->
<!--            <span>커뮤니티</span>-->
<!--        </a>-->
<!--        <a class="signup navbar-brand" href="routine-time">-->
<!--            <span>루틴</span>-->
<!--        </a>-->
<!--        <a class="community navbar-brand" href="rank-whole">-->
<!--            <span>랭킹</span>-->
<!--        </a>-->
<!--    </div>-->

<!--    <div class="change-level">-->
<!--        <a href="beginner-main" class="navbar-brand">-->
<!--            beginner👶-->
<!--        </a>-->
<!--        <a  href="master-main" class="navbar-brand">-->
<!--            master🤴-->
<!--        </a>-->

<!--    </div>-->

<!--    <div class="signin-up">-->
<!--        <a class="signin navbar-brand" href="signin">-->
<!--            <span>로그인</span>-->
<!--        </a>-->
<!--        <a class="signup navbar-brand" href="signup">-->
<!--            <span>회원가입</span>-->
<!--        </a>-->

<!--    </div>-->

<!--</nav>-->


<!--<div class="first-row ">-->
<!--    <div class="muscle-area">-->
<!--        <h2>가슴</h2>-->
<!--    </div>-->
<!--    <a href="dumbell"><button type="button" class="button btn-outline-primary dumbell active">덤벨</button></a>-->
<!--    <a href="bodyweight"><button type="button" class="button btn-outline-primary  bodyweight">맨몸</button></a>-->
<!--    <a href="machine"><button type="button" class="button btn-outline-primary machine">머신</button></a>-->

<!--    <a href="barbell"><button type="button" class="button btn-outline-primary barbell">바벨</button></a>-->

<!--    <div class="health-more">-->
<!--        <button class="button  btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--            더보기-->
<!--        </button>-->
<!--        <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton2">-->
<!--            <li><a class="dropdown-items kettlebell " href="kettlebell">케틀벨</a></li>-->
<!--            <li><a class="dropdown-items band" href="band">밴드</a></li>-->
<!--            <li><a class="dropdown-items cable" href="cable">케이블</a></li>-->
<!--            <li><a class="dropdown-items stretch" href="stretch">스트레칭</a></li>-->
<!--            <li><a class="dropdown-items close" href="#">닫기❌</a></li>-->
<!--        </ul>-->
<!--    </div>-->

<!--</div>-->

<!--</div>-->

<!--<main class=" container workout-eachpart">-->
<!--    <div class="first-workout">-->
<!--        <div class="workout-title">-->
<!--&lt;!&ndash;            <h2 th:text="${session.loginNickname}"></h2>&ndash;&gt;-->

<!--            <h3>-->
<!--            <span class="mw-headline" id="Barbell-Bench-Press">-->

<!--            </span>-->
<!--            </h3>-->
<!--        </div>-->
<!--        <div class="workout-video">-->
<!--            <img src="gif/dumbell-InclineChestFly-front.gif"/>-->
<!--            <img src="gif/dumbell-InclineChestFly-side.gif"/>-->

<!--        </div>-->


<!--        <ol class="steps-list" style="margin: 4rem 0 1rem;">-->
<!--            <li>-->
<!--                벤치에 평평하게 누워 발을 바닥에 놓습니다.</li>-->
<!--            <li> 가슴 위에 덤벨을 모으고 팔꿈치를 약간 구부린 상태에서 운동을 시작하십시오.</li>-->
<!--            <li>동시에 무게를 양쪽으로 내립니다.</li>-->
<!--            <li>웨이트가 벤치와 평행이 되면 멈춘 다음 팔을 시작 위치로 올립니다.</li>-->
<!--        </ol>-->


<!--    </div>-->

<!--    <div class="second-workout">-->
<!--        <div class="workout-title">-->
<!--            <h3>덤벨-인클라인 벤치 프레스</h3>-->
<!--        </div>-->
<!--        <div class="workout-video">-->
<!--            <img src="gif/dumbell-InclineBenchPress-front.gif"/>-->
<!--            <img src="gif/dumbell-InclineBenchPress-side.gif"/>-->

<!--        </div>-->

<!--        <div class="workout-methods">-->
<!--            <div>-->
<!--                <button type="button" class="btn btn-success">1</button>-->
<!--                <p>-->
<!--                    벤치를 30~45도 각도로 들어 올리십시오.</p>-->
<!--            </div>-->
<!--            <div>-->
<!--                <button type="button" class="btn btn-success">2</button>-->
<!--                <p>-->
<!--                    벤치에 누워 발을 땅에 댑니다.</p>-->
<!--            </div>-->
<!--            <div>-->
<!--                <button type="button" class="btn btn-success">3</button>-->
<!--                <p>-->
<!--                    똑바로 팔로 덤벨을 들어 올린 다음 천천히 어깨 너비로 내립니다.</p>-->
<!--            </div>-->
<!--            <div>-->
<!--                <button type="button" class="btn btn-success">4</button>-->
<!--                <p>-->
<!--                    팔이 잠길 때까지 다시 시작 위치로 들어올립니다.</p>-->
<!--            </div>-->

<!--        </div>-->
<!--    </div>-->

<!--    <div class="third-workout">-->
<!--        <div class="workout-title">-->
<!--            <h3>덤벨- 벤치프레스</h3>-->
<!--        </div>-->
<!--        <div class="workout-video">-->
<!--            <img src="gif/dumbell-BenchPress-front.gif"/>-->
<!--            <img src="gif/dumbell-BenchPress-side.gif"/>-->

<!--        </div>-->

<!--        <div class="workout-methods">-->
<!--            <div>-->
<!--                <button type="button" class="btn btn-success">1</button>-->
<!--                <p>-->
<!--                    바닥에 발을 대고 벤치에 평평하게 눕습니다. </p>-->
<!--            </div>-->
<!--            <div>-->
<!--                <button type="button" class="btn btn-success">2</button>-->
<!--                <p>-->
<!--                    팔이 곧게 펴질 때까지 덤벨을 들어올립니다.</p>-->
<!--            </div>-->
<!--            <div>-->
<!--                <button type="button" class="btn btn-success">3</button>-->
<!--                <p>-->
<!--                    덤벨을 가슴 중앙까지 내린다.</p>-->
<!--            </div>-->
<!--            <div>-->
<!--                <button type="button" class="btn btn-success">4</button>-->
<!--                <p>-->
<!--                    팔꿈치가 잠길 때까지 덤벨을 들어 올리십시오.</p>-->
<!--            </div>-->

<!--        </div>-->
<!--    </div>-->






<!--</main>-->

<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>-->

<!--</body>-->
<!--</html>-->