<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>부위별 운동-둔근</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body >
<nav class="navbars navbar-light bg-light screen-header">
    <div class="title">
        <a class="navbar-brand" >
            <img src="/picture/capstone2img.png" width=120px/>
        </a>
    </div>

    <div class="more-functions">
        <a class="signin navbar-brand" href="/board/list">
            <span>커뮤니티</span>
        </a>
        <a class="signup navbar-brand" href="routine-time">
            <span>루틴</span>
        </a>
        <a class="community navbar-brand" href="rank-whole">
            <span>랭킹</span>
        </a>
        <a class="community navbar-brand" href="record">
            <span>기록</span>
        </a>
    </div>

    <div class="change-level">
        <a href="beginner-main" class="navbar-brand">
            초보자👶
        </a>
        <a  href="master-main" class="navbar-brand">
            숙련자🤴
        </a>

    </div>

<!--    <div class="signin-up">-->
<!--        <a class="signin navbar-brand" href="/member/signin">-->
<!--            <span>로그인</span>-->
<!--        </a>-->
<!--        <a class="signup navbar-brand" href="/member/signup">-->
<!--            <span>회원가입</span>-->
<!--        </a>-->

<!--    </div>-->
    <div class="signin-up">


        <a class="signup navbar-brand" href="mypage">
            <span>마이페이지</span>
        </a>
        <h2 th:text="${session.loginNickname}"></h2>

    </div>
</nav>


<div class="first-row ">
    <div class="muscle-area">
        <h2>둔근</h2>
    </div>
    <a href="glutes_dumbell_master"><button type="button" class="button btn-outline-primary dumbell ">덤벨</button></a>
    <a href="glutes_bodyweight_master"><button type="button" class="button btn-outline-primary  bodyweight">맨몸</button></a>
    <a href="glutes_machine_master"><button type="button" class="button btn-outline-primary machine">머신</button></a>
    <a href="glutes_barbell_master"><button type="button" class="button btn-outline-primary barbell ">바벨</button></a>

    <div class="health-more">
        <button class="button  btn-outline-primary dropdown-toggle  active" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
            밴드
        </button>
        <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton2">
            <li><a class="dropdown-items band" href="glutes_band_master">밴드</a></li>
            <li><a class="dropdown-items stretch" href="glutes_stretch_master">스트레칭</a></li>
            <li><a class="dropdown-items cable" href="glutes_cable_master">케이블</a></li>
            <li><a class="dropdown-items kettlebell " href="glutes_kettlebell_master">케틀벨</a></li>
            <li><a class="dropdown-items close" href="#">닫기❌</a></li>
        </ul>
    </div>

</div>

</div>
<main class=" container workout-eachpart">
    <div class="first-workout">
        <div class="workout-title">
            <h3>
<!--            <span class="mw-headline" id="Barbell-Bench-Press">-->
                <span class="mw-headline">
                    스페니쉬 스쿼트
            </span>
            </h3>
        </div>
        <div class="workout-video">
            <img src="https://www.musclewiki.com/media/uploads/band-male-spanishsquat-front.gif"/>
            <img src= "https://www.musclewiki.com/media/uploads/band-male-spanishsquat-side.gif"/>

        </div>


        <ol class="steps-list" style="margin: 4rem 0 1rem;">
            <li>
                밴드를 무릎뒤쪽에 걸어줍니다.</li>
            <li> 밴드의 텐션을 유지한채 런지를 실시합니다.</li>
        
        </ol>

    </div>

    <div class="first-workout">
        <div class="workout-title">
            <h3>
<!--            <span class="mw-headline" id="Barbell-Bench-Press">-->
                <span class="mw-headline">
                    밴드 글루트 킥백
            </span>
            </h3>
        </div>
        <div class="workout-video">
            <img src="https://www.musclewiki.com/media/uploads/band-male-kickback-front.gif"/>
            <img src= "https://www.musclewiki.com/media/uploads/band-male-kickback-side.gif"/>

        </div>


        <ol class="steps-list" style="margin: 4rem 0 1rem;">
            <li>
                네발 자세를 취하십시오. 양쪽 손목과 한쪽 발에 밴드를 감습니다.</li>
            <li>  둔근이 수축되는 느낌이 들 때까지 무릎과 엉덩이를 뒤로 곧게 펴십시오.</li>
            <li> 시작 위치로 돌아올 때까지 무릎을 구부립니다.</li>

        </ol>

    </div>

    <div class="first-workout">
        <div class="workout-title">
            <h3>
<!--            <span class="mw-headline" id="Barbell-Bench-Press">-->
                <span class="mw-headline">
                    밴드 레그 프레스
            </span>
            </h3>
        </div>
        <div class="workout-video">
            <img src="https://www.musclewiki.com/media/uploads/band-male-legpress-front.gif"/>
            <img src= "https://www.musclewiki.com/media/uploads/band-male-legpress-side.gif"/>

        </div>


        <ol class="steps-list" style="margin: 4rem 0 1rem;">
            <li>
                머리에서 6~12인치 위에 있어야 하는 밴드의 앵커 포인트 옆에 머리를 대고 바닥에 평평하게 눕습니다.</li>
            <li>  밴드를 발 중앙에 놓고 무릎과 엉덩이까지 확장합니다.  </li>
       
        </ol>

    </div>
    <div class="first-workout">
        <div class="workout-title">
            <h3>
<!--            <span class="mw-headline" id="Barbell-Bench-Press">-->
                <span class="mw-headline">
                    밴드 루마니안 데드리프트
            </span>
            </h3>
        </div>
        <div class="workout-video">
            <img src="https://www.musclewiki.com/media/uploads/band-male-rdl-front.gif"/>
            <img src= "https://www.musclewiki.com/media/uploads/band-male-rdl-side.gif"/>

        </div>


        <ol class="steps-list" style="margin: 4rem 0 1rem;">
            <li>
                밴드의 중앙을 발로 밟습니다.</li>
            <li>  무릎을 대부분 연장하는 동안 엉덩이를 뒤로 밀어 넣으십시오.  </li>
            <li>  무릎은 대부분 펴진 상태에서 엉덩이를 뒤로 미십시오. 햄스트링의 스트레칭을 찾으십시오. </li>
            <li>  스트레칭을 느끼면 서있는 자세로 돌아올 때까지 엉덩이를 앞으로 밀어냅니다. </li>


        </ol>

    </div>

   
<!-- <div class="not-ready">
    <h1>현재 준비중입니다...</h1>
</div> -->




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>