<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>부위별 운동-대퇴 이두근</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body >
<nav class="navbars navbar-light bg-light screen-header">
    <div class="title">
        <a class="navbar-brand" >
            <img src="/picture/capstone2img.png" width=120px/>
        </a>
    </div>

    <div class="more-functions">
        <a class="signin navbar-brand" href="/board/list">
            <span>커뮤니티</span>
        </a>
        <a class="signup navbar-brand" href="routine-time">
            <span>루틴</span>
        </a>
        <a class="community navbar-brand" href="rank-whole">
            <span>랭킹</span>
        </a>
        <a class="community navbar-brand" href="record">
            <span>기록</span>
        </a>
    </div>

    <div class="change-level">
        <a href="beginner-main" class="navbar-brand">
            초보자👶
        </a>
        <a  href="master-main" class="navbar-brand">
            숙련자🤴
        </a>

    </div>

<!--    <div class="signin-up">-->
<!--        <a class="signin navbar-brand" href="/member/signin">-->
<!--            <span>로그인</span>-->
<!--        </a>-->
<!--        <a class="signup navbar-brand" href="/member/signup">-->
<!--            <span>회원가입</span>-->
<!--        </a>-->

<!--    </div>-->
    <div class="signin-up">


        <a class="signup navbar-brand" href="mypage">
            <span>마이페이지</span>
        </a>
        <h2 th:text="${session.loginNickname}"></h2>

    </div>
</nav>


<div class="first-row ">
    <div class="muscle-area">
        <h2>대퇴 이두근</h2>
    </div>
    <a href="hamstrings_dumbell_master"><button type="button" class="button btn-outline-primary dumbell ">덤벨</button></a>
    <a href="hamstrings_bodyweight_master"><button type="button" class="button btn-outline-primary  bodyweight ">맨몸</button></a>
    <a href="hamstrings_machine_master"><button type="button" class="button btn-outline-primary machine">머신</button></a>
    <a href="hamstrings_barbell_master"><button type="button" class="button btn-outline-primary barbell">바벨</button></a>

    <div class="health-more">
        <button class="button  btn-outline-primary dropdown-toggle active" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
            케틀벨
        </button>
        <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton2">
            <li><a class="dropdown-items band" href="hamstrings_band_master">밴드</a></li>
            <li><a class="dropdown-items stretch" href="hamstrings_stretch_master">스트레칭</a></li>
            <li><a class="dropdown-items cable" href="hamstrings_cable_master">케이블</a></li>
            <li><a class="dropdown-items kettlebell " href="hamstrings_kettlebell_master">케틀벨</a></li>
            <li><a class="dropdown-items close" href="#">닫기❌</a></li>
        </ul>
    </div>

</div>

</div>
<main class=" container workout-eachpart">
    <div class="first-workout">
        <div class="workout-title">
            <h3>
<!--            <span class="mw-headline" id="Barbell-Bench-Press">-->
                <span class="mw-headline">
                    케틀벨 스윙
            </span>
            </h3>
        </div>
        <div class="workout-video">
            <img src="https://www.musclewiki.com/media/uploads/kettlebell-male-kb-swing-front.gif"/>
            <img src= "https://www.musclewiki.com/media/uploads/kettlebell-male-kb-swing-side.gif"/>

        </div>


        <ol class="steps-list" style="margin: 4rem 0 1rem;">
            <li>
                다리 사이에 케틀벨을 잡고 다리를 어깨너비보다 약간 넓게 벌리고 서서 무릎을 약간 구부립니다.</li>
            <li> 등을 똑바로 유지하면서 케틀벨이 가슴과 수평이 될 때까지 케틀벨을 위로 휘두르며 조심스럽게 내립니다.</li>
         
        </ol>
    </div>

    <div class="first-workout">
        <div class="workout-title">
            <h3>
<!--            <span class="mw-headline" id="Barbell-Bench-Press">-->
                <span class="mw-headline">
                    케틀벨 싱글렉 데드리프트
            </span>
            </h3>
        </div>
        <div class="workout-video">
            <img src="https://www.musclewiki.com/media/uploads/kettlebell-male-sldeadlift-front.gif"/>
            <img src= "https://www.musclewiki.com/media/uploads/kettlebell-male-sldeadlift-side.gif"/>

        </div>


        <ol class="steps-list" style="margin: 4rem 0 1rem;">
            <li>
                발을 어깨 너비로 벌리고 서서 한 발을 뒤쪽 바닥에서 들어 올립니다. 들어올린 다리와 같은 팔에 케틀벨을 잡습니다.</li>
            <li>엉덩이를 앞으로 구부려 케틀벨을 바닥으로 가져오는 동안 들어 올린 다리를 뒤로 뻗고 등을 똑바로 유지하고 균형을 위해 팔을 옆으로 유지합니다.</li>
            <li>  똑바로 세운 자세로 돌아가 반복합니다.</li>
    
        </ol>

    </div>

   

  
<!-- <div class="not-ready">
    <h1>현재 준비중입니다...</h1>
</div> -->




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>