<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>부위별 운동-등 하부</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body >
<nav class="navbars navbar-light bg-light screen-header">
    <div class="title">
        <a class="navbar-brand" >
            <img src="/picture/capstone2img.png" width=120px/>
        </a>
    </div>

    <div class="more-functions">
        <a class="signin navbar-brand" href="/board/list">
            <span>커뮤니티</span>
        </a>
        <a class="signup navbar-brand" href="routine-time">
            <span>루틴</span>
        </a>
        <a class="community navbar-brand" href="rank-whole">
            <span>랭킹</span>
        </a>
        <a class="community navbar-brand" href="record">
            <span>기록</span>
        </a>
    </div>

    <div class="change-level">
        <a href="beginner-main" class="navbar-brand">
            초보자👶
        </a>
        <a  href="master-main" class="navbar-brand">
            숙련자🤴
        </a>

    </div>

<!--    <div class="signin-up">-->
<!--        <a class="signin navbar-brand" href="/member/signin">-->
<!--            <span>로그인</span>-->
<!--        </a>-->
<!--        <a class="signup navbar-brand" href="/member/signup">-->
<!--            <span>회원가입</span>-->
<!--        </a>-->

<!--    </div>-->
    <div class="signin-up">


        <a class="signup navbar-brand" href="mypage">
            <span>마이페이지</span>
        </a>
        <h2 th:text="${session.loginNickname}"></h2>

    </div>
</nav>


<div class="first-row ">
    <div class="muscle-area">
        <h2>등 하부</h2>
    </div>
    <a href="lowerback_dumbell_master"><button type="button" class="button btn-outline-primary dumbell ">덤벨</button></a>
    <a href="lowerback_bodyweight_master"><button type="button" class="button btn-outline-primary  bodyweight">맨몸</button></a>
    <a href="lowerback_machine_master"><button type="button" class="button btn-outline-primary machine">머신</button></a>
    <a href="lowerback_barbell_master"><button type="button" class="button btn-outline-primary barbell active">바벨</button></a>

    <div class="health-more">
        <button class="button  btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
            더보기
        </button>
        <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton2">
            <li><a class="dropdown-items band" href="lowerback_band_master">밴드</a></li>
            <li><a class="dropdown-items stretch" href="lowerback_stretch_master">스트레칭</a></li>
            <li><a class="dropdown-items cable" href="lowerback_cable_master">케이블</a></li>
            <li><a class="dropdown-items kettlebell " href="lowerback_kettlebell_master">케틀벨</a></li>
            <li><a class="dropdown-items close" href="#">닫기❌</a></li>
        </ul>
    </div>

</div>

</div>

<main class=" container workout-eachpart">
    <div class="first-workout">
        <div class="workout-title">
            <h3>
<!--            <span class="mw-headline" id="Barbell-Bench-Press">-->
                <span class="mw-headline">
                    바벨 데드리프트
            </span>
            </h3>
        </div>
        <div class="workout-video">
            <img src="https://www.musclewiki.com/media/uploads/male-barbell-deadlift-front.gif"/>
            <img src= "https://www.musclewiki.com/media/uploads/male-barbell-deadlift-side.gif"/>

        </div>


        <ol class="steps-list" style="margin: 4rem 0 1rem;">
            <li>
                중간 발을 바 아래에 놓고 어깨 너비만큼 벌린 손으로 바를 잡습니다.</li>
            <li>무릎을 구부린 다음 등을 곧게 펴서 바를 들어 올리십시오. 허리를 곧게 펴는 것이 중요합니다.</li>
            <li>  최대 높이로 서서 잡으십시오.</li>
            <li> 무릎을 구부리고 등을 똑바로 유지하여 바를 바닥으로 내립니다.</li>

        </ol>

    </div>

    <div class="first-workout">
        <div class="workout-title">
            <h3>
<!--            <span class="mw-headline" id="Barbell-Bench-Press">-->
                <span class="mw-headline">
                    바벨 하이바 굿모닝
            </span>
            </h3>
        </div>
        <div class="workout-video">
            <img src="https://www.musclewiki.com/media/uploads/male-bb-front-highbargm_ZP0wID2.gif"/>
            <img src= "https://www.musclewiki.com/media/uploads/male-bb-side-highbargm_Yth0qDn.gif"/>

        </div>


        <ol class="steps-list" style="margin: 4rem 0 1rem;">
            <li>
                당신의 승모에 바를 놓습니다. 바가 경추를 파고들지 않도록 패드가 필요할 수 있습니다.</li>
            <li>엉덩이를 똑바로 뒤로 밀어줍니다. 무릎은 대부분 펴진 상태를 유지해야 합니다(부드러운 무릎을 생각하십시오).  </li>
            <li> 햄스트링이 늘어나는 느낌이 드는지 살펴보세요. 늘어나는 느낌은 척추를 둥글게 하지 않고 가동 범위의 끝에 가까워지고 있음을 의미합니다. </li>
            <li> 스트레칭이 느껴지면 서 있는 자세가 될 때까지 엉덩이를 앞으로 내밉니다. </li>
        </ol>

    </div>

    <div class="first-workout">
        <div class="workout-title">
            <h3>
<!--            <span class="mw-headline" id="Barbell-Bench-Press">-->
                <span class="mw-headline">
                    바벨 로우바 굿모닝
            </span>
            </h3>
        </div>
        <div class="workout-video">
            <img src="https://www.musclewiki.com/media/uploads/male-bb-front-lowbargm_XaLHLgM.gif"/>
            <img src= "https://www.musclewiki.com/media/uploads/male-bb-side-lowbargm_USblUzF.gif"/>

        </div>


        <ol class="steps-list" style="margin: 4rem 0 1rem;">
            <li>
                승모과 후방 삼각근 사이에 바를 놓습니다. 견갑골을 뒤로 당겨 바에 앉을 수 있는 선반을 제공합니다.</li>
            <li>  햄스트링이 당기는 느낌이 들 때까지 엉덩이를 뒤로 미십시오. 이것은 척추를 둥글게 하지 않고 가동 범위의 끝에 가까워지고 있음을 의미합니다.</li>
            <li> 스트레칭이 느껴지면 서 있는 자세가 될 때까지 엉덩이를 앞으로 내밉니다.</li>
        </ol>
    </div>

    <div class="first-workout">
        <div class="workout-title">
            <h3>
<!--            <span class="mw-headline" id="Barbell-Bench-Press">-->
                <span class="mw-headline">
                    바벨 스모 데드리프트
            </span>
            </h3>
        </div>
        <div class="workout-video">
            <img src="https://www.musclewiki.com/media/uploads/male-barbell-sumo-deadlift-front_aeM2BqT.gif"/>
            <img src= "https://www.musclewiki.com/media/uploads/male-barbell-sumo-deadlift-side_av3A2PM.gif"/>

        </div>


        <ol class="steps-list" style="margin: 4rem 0 1rem;">
            <li>
                스모 DL로 스탠스 폭이 다를 수 있습니다. 일부는 접시 근처의 발가락을 선호합니다. 다른 사람들은 바닥에서 더 많은 드라이브를 얻기 위해 더 좁은 자세를 선호합니다.</li>
            <li> 팔이 다리 안에 있는지 확인하십시오. 바는 발 중간 바로 위에 있어야 합니다. 등을 펴고 발 뒤꿈치를 바닥에 밀어 넣으십시오.</li>
            <li> 무릎과 엉덩이를 동시에 펴십시오.</li>
        </ol>

    </div>


    <div class="first-workout">
        <div class="workout-title">
            <h3>
<!--            <span class="mw-headline" id="Barbell-Bench-Press">-->
                <span class="mw-headline">
                    바벨 스태거드 데드리프트
            </span>
            </h3>
        </div>
        <div class="workout-video">
            <img src="https://www.musclewiki.com/media/uploads/male-bb-front-staggereddl_ssnaFtA.gif"/>
            <img src= "https://www.musclewiki.com/media/uploads/male-bb-side-staggereddl_6U4gaPe.gif"/>

        </div>


        <ol class="steps-list" style="margin: 4rem 0 1rem;">
            <li>
                한 발을 뒤에 놓습니다. 당신은 그 뒷발에 당신의 발가락에 있어야합니다. 앞발은 항상 평평해야 합니다.</li>
            <li> 뒤쪽 무릎을 구부리고 엉덩이를 뒤로 밀어줍니다. 앞쪽 햄스트링의 스트레칭을 찾으십시오.</li>
            <li> 스트레칭이 느껴지면 다시 선 자세로 돌아올 때까지 엉덩이를 앞으로 내밉니다.</li>
        </ol>
    </div>


    <div class="first-workout">
        <div class="workout-title">
            <h3>
<!--            <span class="mw-headline" id="Barbell-Bench-Press">-->
                <span class="mw-headline">
                    바벨 싱글렉 데드리프트
            </span>
            </h3>
        </div>
        <div class="workout-video">
            <img src="https://www.musclewiki.com/media/uploads/male-bb-front-sldl_JD2ykQD.gif"/>
            <img src= "https://www.musclewiki.com/media/uploads/male-bb-side-sldl_zqM9In1.gif"/>

        </div>


        <ol class="steps-list" style="margin: 4rem 0 1rem;">
            <li>
                엉덩이를 똑바로 뒤로 밀고 작동하지 않는 다리를 뒤로 뻗어 시작합니다. 각 반복마다 다른 발을 땅에 닿게 하는 것은 괜찮습니다.</li>
            <li>  무릎을 최대한 펴십시오. 햄스트링의 스트레칭을 찾으십시오. 스트레칭을 느끼면 서있는 자세로 돌아올 때까지 엉덩이를 앞으로 밀어냅니다.</li>
     
        </ol>
    </div>


    <div class="first-workout">
        <div class="workout-title">
            <h3>
<!--            <span class="mw-headline" id="Barbell-Bench-Press">-->
                <span class="mw-headline">
                    바벨 루마니안 데드리프트
            </span>
            </h3>
        </div>
        <div class="workout-video">
            <img src="https://www.musclewiki.com/media/uploads/male-bb-front-rdl_Rg5paRL.gif"/>
            <img src= "https://www.musclewiki.com/media/uploads/male-bb-side-rdl_oW1Iipz.gif"/>

        </div>


        <ol class="steps-list" style="margin: 4rem 0 1rem;">
            <li>
                어깨 너비, 더블 오버핸드 또는 혼합 그립을 취하십시오.</li>
            <li>  무릎은 대부분 펴진 상태에서 엉덩이를 뒤로 미십시오. 햄스트링의 스트레칭을 찾으십시오.</li>
            <li>스트레칭을 느끼면 서있는 자세로 돌아올 때까지 엉덩이를 앞으로 밀어냅니다.</li>
        </ol>
        
    </div>


    <!-- <div class="not-ready">
        <h1>현재 준비중입니다...</h1>
    </div> -->
    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>