<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>득근득근💖-마이페이지</title>
  <link rel="stylesheet" href="/css/style.css"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>
<body>
<nav class="navbars navbar-light bg-light screen-header">
  <div class="title">
    <a class="navbar-brand">
<!--      <a class="navbar-brand" href="master-main">-->
      득근득근💪
    </a>
  </div>
  <div class="more-functions">
    <a class="signin navbar-brand" href="community-free">
      <span>커뮤니티</span>
    </a>
    <a class="signup navbar-brand" href="routine-time">
      <span>루틴</span>
    </a>
    <a class="community navbar-brand" href="rank-whole">
      <span>랭킹</span>
    </a>
  </div>
  <div class="change-level">
    <a href="beginner-main-afterlogin" class="navbar-brand">
      초보자👶
    </a>
    <a  href="master-main-afterlogin" class="navbar-brand">
      숙련자🤴
    </a>
  </div>
<!--  <div class="signin-up">-->
<!--    <a class="signin navbar-brand" href="mypage">-->
<!--      <span>마이페이지</span>-->
<!--    </a>-->
<!--    <a class="signup navbar-brand" href="signup">-->
<!--      <span>회원가입</span>-->
<!--    </a>-->
<!--  </div>-->
</nav>
<!--<table>-->
<!--  <tr>-->
<!--    <th>name</th>-->
<!--  </tr>-->
<!--  <span th:text="${session.nickname}"></span>-->
<!--</table>-->


<div class="mypage-main">
  <h1 class="mypage-title">내 정보</h1>
  <div class="main-first-row">
    <div class="mypage-info">
      <img src="picture/silver.png" width="150px"/>
      <h2 th:text="${session.loginNickname}"></h2>
      <!-- <span >내 닉네임</span> -->
    </div>
  </div>
  <div class="main-second-row">
    <div class="big-three">
      <div class="big-three-title">
        <h3 >내 3대중량 </h3>
        <a href="community-challenge" class="navbar-brand">3대도전하기!</a>
      </div>
      <div class="big-three-total">
        <span>3대 총합: </span>
        <h2 th:text="${session.memberBigthree}"></h2>
      </div>
      <div class="benchpress">
        <span>벤치프레스: </span>
        <h2 th:text="${session.memberBenchpress}"></h2>
      </div>
      <div class="squat">
        <span>스쿼트: </span>
        <h2 th:text="${session.memberDeadlift}"></h2>
      </div>
      <div class="deadlift">
        <span>데드리프트: </span>
        <h2 th:text="${session.memberSquat}"></h2>
      </div>

    </div>
  </div>
  <div class="main-fourth-row">
    <div class="change-thema">
      <span>앱 테마변경</span>
    </div>
    <div class="colors">
      <div class="white-thema"></div>
      <div class="gray-thema"></div>
      <div class="yellow-thema"></div>
      <div class="orange-thema"></div>
      <div class="green-thema"></div>
      <div class="blue-thema"></div>
      <div class="purple-thema"></div>
      <div class="black-thema"></div>
      <div class="fluorescent-yellow-thema">
        <i class="fas fa-lock fa-lg"></i>
      </div>
    </div>
  </div>
  <div class="main-third-row">
    <a href="mypage-correct" class="navbar-brand"><h4>내 정보 수정</h4></a>
    <a href="" class="navbar-brand"><h4>로그아웃</h4></a>
    <a class="navbar-brand" href="/member/update">내 정보 수정</a>
    <a class="navbar-brand" href="/member/logout">로그아웃</a>
  </div>
  <div class="container">
    <canvas id="myChart"></canvas>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"></script>
</div>
<script
        src="https://kit.fontawesome.com/0ea90c0361.js"
        crossorigin="anonymous"
></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="js/graph.js"></script>
</body>
</html>