<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>득근득근💖-기록</title>
    <link rel="stylesheet" href="/css/style.css"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    <nav class="navbars navbar-light bg-light screen-header">
        <div class="title">
          <a class="navbar-brand">
            <img src="/picture/capstone2img.png" width=120px/>
          </a>
        </div>

        <div class="more-functions">
          <a class="signin navbar-brand" >
            <span>커뮤니티</span>
          </a>
          <a class="signup navbar-brand" href="routine-time">
            <span>루틴</span>
          </a>
          <a class="community navbar-brand" href="rank-whole">
            <span>랭킹</span>
          </a>
          <a class="community navbar-brand" href="record">
            <span>기록</span>
          </a>
        </div>

        <div class="change-level">
          <a href="beginner-main" class="navbar-brand">
            초보자👶
          </a>
          <a  href="master-main" class="navbar-brand">
            숙련자🤴
          </a>

        </div>
      <div class="signin-up">


        <a class="signup navbar-brand" href="mypage">
          <span>마이페이지</span>
        </a>
        <h2  th:text="${session.loginNickname}"></h2>



      </div>
      </nav>

      <header>
        <h1>
          <i class="far fa-calendar-check"></i>
          <span>운동기록</span>
      
        </h1>
        <div class="calendar_title">
          <button class="prev">&#60;</button>
          <span class="current-year-month"></span>
          <button class="next">&#62;</button>

         
        </div>
        <a class="icon-graph"><i class="fas fa-chart-line fa-2x"></i></a>
        
       
      </header>
      
      <div>
        <section class="content-left">
          <div class="left-main">
            <div class="main-wrap">
              <div class="main-day"></div>
              <div class="main-date"></div>
            </div>
            
            <div class="record-wrap">
              <div class="record-title">운동기록</div>
              <form class="input-form">
                <input type="text" placeholder="write here!!" class="input-box" />
                <button type="submit" class="input-btn clickBtn">입력</button>
              </form>
              <ul class="recordList"></ul>
              <div class="showList">
                <span class="listText"></span>
                <span class="createDate"></span>
                <button class="closed">close</button>
              </div>
              <div class="bgblack"></div>
            </div>
  
            <!--
      <div class="myInbody">
              <h4>인바디</h4>
              <div class="myInbody-mass">
                <input type="text" placeholder="체중(kg)"/>
              </div>
             <div class="myInbody-mass">
              <input type="text" placeholder="골격근량(kg)"/>
             </div>
             <div class="myInbody-mass">
              <input type="text" placeholder="체지방률(%)"/>
             </div>
             <button type="submit" class="input-btn clickBtn">입력</button>
    
            </div>
  
            -->
      
  
  
  
          </section>
      </div>
      
        <div>
          <section class="content-right">
            <div class="day-of-week">
              <div class="dayHeader sun">Sun</div>
              <div class="dayHeader">Mon</div>
              <div class="dayHeader">Tue</div>
              <div class="dayHeader">Wed</div>
              <div class="dayHeader">Thu</div>
              <div class="dayHeader">Fri</div>
              <div class="dayHeader sat">Sat</div>
          </div>
        
          <div class="calendar-body"></div>

         
   
      </section>
        </div>
      

     
      
        
  
      
     
 



    


      <script
      src="https://kit.fontawesome.com/0ea90c0361.js"
      crossorigin="anonymous"
    ></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
      <script src="/js/record.js"></script>
      <script src="/js/record-data.js"></script>

</body>
</html>